<div id="banner">
    <span id="banner-text" class="banner-flex-item"><i class="banner-flex-item fas fa-camera retro" aria-hidden="true" style="color: white"></i> Christopher's Photo App</span>
</div>