.container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 15px 15px;
}

.container div {
    border: 3px solid #cccccc;
    text-align: center;

}

p {
    font-weight: bold;
    font-size: 20px;
}

img {
    margin: 2px 2px;
    width: 40%;
    height: auto;
}